# Task 4.7_Deriving New Variables

## Importing libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

## Importing data

In [2]:
#Create project folder path
path=r'C:\Users\Bori\Documents\Careerfoundry\Achievement 4'

In [3]:
#Import the “orders_products_merged.pkl” file into Jupyter as df_ords_prods_merged
df_ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared data', 'orders_products_merged.pkl'))

## Create subset of the dataframe

In [4]:
df = df_ords_prods_merged [:1000000]

## Create user defined function

In [5]:
#Define the function 
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [6]:
#Apply the function
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\Bori\AppData\Local\Temp\ipykernel_16180\3959542531.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

## Check dimensions of subset after function applied

In [7]:
#Check shape of dataframe
df.shape

(1000000, 18)

In [8]:
#Count values
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [9]:
#Check maximum price in subset
df['prices'].max()

14.8

## If-Statements with the loc() Function

In [10]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\Bori\AppData\Local\Temp\ipykernel_16180\1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [11]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [12]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [13]:
#Count values
df['price_range_loc'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

## If-Statements with For-Loops

In [14]:
df_ords_prods_merged['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [15]:
result = []

for value in df_ords_prods_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [16]:
df_ords_prods_merged['busiest_day'] = result

In [17]:
df_ords_prods_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

# Tasks from step 2

### Create new if-statement for-loop for new requirements (“Busiest days” label should correspond with the two busiest days of the week, also find the two slowest days)

In [18]:
result_v2 = []

for value in df_ords_prods_merged["orders_day_of_week"]:
  if value == 0 or value == 1:
    result_v2.append("Busiest days")
  elif value == 4 or value == 3:
    result_v2.append("Slowest days")
  else:
    result_v2.append("Regularly busy")

In [19]:
df_ords_prods_merged['busiest_days'] = result_v2

### Step 3 - values of busiest_days column

In [20]:
df_ords_prods_merged['busiest_days'].value_counts(dropna = False)

Regularly busy    12916111
Busiest days      11864412
Slowest days       7624336
Name: busiest_days, dtype: int64

When checked with our original frequency counts, these values add up to the sums of each \"grouping\". ie - the total for busiest days equals the sum of value 0 and value 1, and the values for least busy days adds to the sum of value 3 and 4, confirming that the loop operated correctly

### Task Step 4 - busiest period of the day column

In [21]:
# Check frequency of values in the \"order_hour_of_day\" column 
df_ords_prods_merged['order_hour_of_day'].value_counts()

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

As the client wants these grouped into three different segments, we can group the 24 hours of the day as follows: Most orders = 10, 11, 14, 15, 13, 12, 16, 9; Average orders = 17, 8, 18, 19, 20, 7, 21, 22; Fewest orders = 23, 6, 0, 1, 5, 2, 4, 3

In [22]:
# Create a for-loop if statement using the above frequency breakdown
hour_of_day = []

for value in df_ords_prods_merged['order_hour_of_day']:
    if value in [10, 11, 14, 15, 13, 12, 16, 9]:
        hour_of_day.append("Most orders")
    elif value in [17, 8, 18, 19, 20, 7, 21, 22]:
        hour_of_day.append("Average orders")
    else:
        hour_of_day.append("Fewest orders")

In [23]:
#Add result to dataframe as column 'busiest_period_of_day'
df_ords_prods_merged['busiest_period_of_day'] = hour_of_day

In [24]:
#Check frequency of values in new column 'busiest_period_of_day'
df_ords_prods_merged['busiest_period_of_day'].value_counts()

Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: busiest_period_of_day, dtype: int64

In [25]:
#Exporting modified dataframe 
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_busiest_periods_added.pkl'))

In [26]:
df_ords_prods_merged.head()

,Unnamed: 0_x,order_id,user_id,eval_set,prior_orders_by_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,busiest_day,busiest_days,busiest_period_of_day
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,Regularly busy,Regularly busy,Average orders
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,Regularly busy,Slowest days,Average orders
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,Regularly busy,Slowest days,Most orders
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,Least busy,Slowest days,Average orders
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,Least busy,Slowest days,Most orders